@charset "utf-8";

@media (max-width: 418px){
.sec2 {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 75px;
	height: 100%;
}
.sec1 {
	width: 100%;
	height: auto;
}


}

@media (max-width: 966px){
.sec2 {
	padding-left: 10%;
	padding-right: 10%;
}

}
